.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.border {
	border: 1px solid black !important;
}

.hide-extra-text {
	overflow: hidden;
}

.open-search {
  position: fixed !important;
  right: 25px !important;
  bottom: 25px !important;
}

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.run-search {
  display: block;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.small-font {
  font-size: 10px !important;
  margin-top: 5px !important;
  padding: 4px 8px !important;
}

.shelf-action {
  float: right;
  margin-top: -17px;
  margin-left: -120px;
}

.clear-shelf-btn {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.paper-adjust {
  margin-left: 20px;
  margin-right: 20px;
}

.grid-adjust {
  margin-left: 10px;
  margin-right: 10px;
}

.shelf-title-adjust {
  fontSize: 18px;
  padding: 10px;
}